{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<h3>Login</h3>
<form action="{% url 'login' %}" method ="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>

{% endblock %}