{% extends "base.html" %}


{% block content %}


        {% if all_bets %}
        
        <table class="w3-table w3-striped">
             <tr>
                    <th>Name</th>
                    <th>Bet owner</th>
                    <th>Price</th>
                    <th>Issued</th>
                </tr>
            {% for item in all_bets %}
            <tr> <td>{{ item.lot.name }}</td><td>{{ item.owner.username }}</td><td>{{ item.amount }}</td><td>{{item.timestamp }}</a></td></tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No bets available</p>
        {% endif %}

{% endblock %}