{% extends "base.html" %}

{% block content %}


<h3>Active Lot: {{ lot }}</h3>
<p>Maximum bet is: {{ amount }} / Current winner is {{ winner }}</p>




<form action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Make Bet" />

</form>



{% endblock %}