{% extends "base.html" %}




{% block content %}

<head>

</head>


{% if latest_lots_list %}
        
        <div class="w3-container" style="height:100%;">
            <table class="w3-table w3-striped">
                 <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            {% for item in latest_lots_list %}
                <h3><tr><td><a href={% url 'sale:detail' item.id %}>{{ item.name }}</td><td>Current price is {{ item.sum }}</td></h3></tr>
            {% endfor %}
            </table>
        </div>




 {% else %}
            <p>No lots available</p>
 {% endif %}


{% endblock %}

