{% extends "base.html" %}


{% block content %}


{% if my_bets_list %}
        
        <div class="w3-container" style="height:100%;">
            <table class="w3-table w3-striped">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Price</th>
                </tr>
            {% for item in my_bets_list %}
                <h3><tr><td>{{ item.lot.name }} </td><td> {{ item.lot.description }} </td><td> {{ item.lot.status }} </td><td> {{ item.amount }} </td></h3></tr>
            {% endfor %}
            </table>
        </div>




 {% else %}
            <p>You don't have bets</p>
 {% endif %}


{% endblock %}