{% extends "base.html" %}

{% block content %}



<h3>{{ user.username }}</h3>
<p>First name: {{ user.first_name }}</p>
<p>Last name: {{ user.last_name }}</p>
<p>E-mail: {{ user.email }}</p>
<p>You have {{ user.profile.amount }} dollars</p>






{% endblock %}