<!DOCTYPE html>
<html land="en">

{% load staticfiles %}

<head>
    <title>{% block title %}My great shop site{% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'sale/sale.css' %}">
</head>

<body>

<div class="w3-sidebar w3-light-grey w3-bar-block w3-card" style="width:15%" id="sidebar">
        <h3 class="w3-bar-item">Menu</h3>

        {% block sidebar %}

        <ul>
            <li><a href={% url 'sale:index' %} class="w3-bar-item w3-button">Lots</a></li>
            <li><a href={% url 'sale:bets' %} class="w3-bar-item w3-button">All bets</a></li>
            <li><a href={% url 'sale:mybets' %} class="w3-bar-item w3-button">My bets</a></li>
            <li><a href={% url 'sale:user_profile' %} class="w3-bar-item w3-button">Profile</a></li>
            <li><a href={% url 'login' %} class="w3-bar-item w3-button">Login</a></li>
            <li><a href={% url 'signup' %} class="w3-bar-item w3-button">Sign up</a></li>
            <li><a href={% url 'sale:logout' %} class="w3-bar-item w3-button">Exit</a></li>
        </ul>
        {% endblock %}
</div>


<div style="margin-left:15%">

    <div class="w3-container w3-indigo">
        <div class="w3-left-align"><h1>Auction shop site</h1></div>
        <div class="w3-right-align"><p>Logged in as <b>{{ request.user.username }}</b></p></div>
    </div>



    <div class="w3-container" id="content"">
    {% block content %}{% endblock %}
    </div>

 {% include 'Snippets/pagination.html' %}


</div>




</body>