
{% if is_paginated %}

<div class="w3-container w3-indigo w3-display-bottom footer " style="vertical-align: bottom;" >
<div class="w3-bar w3-center">
    <ul class="pagination">
      {% if page_obj.has_previous %}

          <a href="?page={{ page_obj.previous_page_number }}" class="w3-button">
            <span>Previous</span>
          </a>



      {% endif %}

      {% for page in paginator.page_range %}
          <a href="?page={{ page }}" class="w3-button">{{ page }}</a>
        {% endfor %}

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="w3-button">
            <span>Next</span>
          </a>
      {% endif %}
    </ul>
  </div>
</div>
{% endif %}
